<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="DBConStr" value=""/>
  </appSettings>
  <connectionStrings>
    <add name="DLMS" connectionString="Data Source=SGAYDBSQLCL03\SGAYDBSQLCL03;Initial Catalog=DLMSNew;User ID=ChinaBPM;Password=wVmR9OoQ;" providerName="System.Data.SqlClient"/>
    <add name="BPM" connectionString="Data Source=SGAYDBSQLCL03\SGAYDBSQLCL03;Initial Catalog=ChinaBPM;User ID=ChinaBPM;Password=wVmR9OoQ;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
